html, body {
    margin: 0;
}

@font-face {
    font-family: "hsc";
    src: url("./assets/hsc.ttf") format("truetype");
    font-display: swap;
}

html, body, input {
    font-family: hsc, sans-serif !important;
}
